dist: bionic
language: minimal
git:
  depth: 1

if: (branch = ci-rework OR branch = master) AND (type = push OR type = pull_request)

env:
  global:
    - SVC_PREFIX="${AZURE_CONTAINER_REGISTRY}/i40-aas-"
    - BUILD_TAG=$(cat .git/refs/heads/${TRAVIS_BRANCH})

stages:
  - lib-test
  - test
  - integration-test
  - name: publish
    if: type = push

jobs: 
  include:
    - stage: lib-test
      language: node_js
      install: 
        - docker-compose up -d rabbitmq
        - cd src/ts/pkg/AMQP-Client
        - npm ci 
      script:
        - npm test 
        - docker-compose stop rabbitmq

    - stage: lib-test
      language: go 
      install: 
        - docker-compose up -d rabbitmq
        - cd src/go/pkg/amqpclient
      script:
        - go test 
        - docker-compose stop rabbitmq 

#    - stage: unit-test
#      env: 
#      install: 
#        - make test-single

    - stage: integration-test
      language: node_js
      install: 
        - npm install -g newman
        - make 
        - make install
        - docker-compose -f docker-compose.yml up -d --force-recreate
        - newman run docs/postman/AAS.postman_collection.json

#    - stage: publish
#      install:
#        - make push-single

# an welcher Stage push single?
      


before_install:
  - make --version
  - docker --version
  - docker-compose --version
  - if [ $TRAVIS_BRANCH = master ]; then
      SVC_PREFIX="sapi40/i40-aas-";
      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin;
    else
      openssl aes-256-cbc -K $encrypted_260941c77da3_key -iv $encrypted_260941c77da3_iv -in azure-service-principal.txt.enc -out azure-service-principal.txt -d;
      cat azure-service-principal.txt | docker login $AZURE_CONTAINER_REGISTRY -u $service_principal_id --password-stdin;
    fi


